$color_1: #fff;
$font-family_1: "Arial", sans-serif;
$background-color_1: #f4f4f4;
$background-color_2: #007bff;
$background-color_3: #dc3545;
$background-color_4: #ccc;

body {
  font-family: $font-family_1;
  background-color: $background-color_1;
  height: 150vh;
  padding: 20px;

  .form-row {
    justify-content: space-between;
  }

  .search-form {
    max-width: 600px;
    margin: 0 auto;
    background: $color_1;
    padding: 40px 0px 40px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .search-field {
    width: 100%;
  }

  .hotel-dropdown {
    width: 100%;
  }

  .form-group.col-md-6 {
    mat-form-field {
      width: 14rem;
    }
  }

  .form-group.col-md-12 {
    mat-form-field {
      padding-right: 3.2rem;
      width: 100%;
    }
  }

  div.mat-mdc-select-panel {
    max-height: 20rem;
  }

  .check-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    padding-right: 3.5rem;

    .btn {
      width: 130px;
      height: 40px;
      font-size: 1.1em;
      cursor: pointer;
      background-color: #171717;
      color: #fff;
      border: none;
      border-radius: 5px;
      transition: all 0.4s;
    }

    .btn:hover {
      border-radius: 5px;
      transform: translateY(-10px);
      box-shadow: 0 7px 0 -2px #f85959, 0 15px 0 -4px #39a2db,
        0 16px 10px -3px #39a2db;
    }

    .btn:active {
      transition: all 0.2s;
      transform: translateY(-5px);
      box-shadow: 0 2px 0 -2px #f85959, 0 8px 0 -4px #39a2db,
        0 12px 10px -3px #39a2db;
    }

    button[type="button"] {
      background-color: $background-color_3;
      color: $color_1;
    }

    button {
      &:disabled {
        background-color: $background-color_4;
      }
      &:hover {
        &:not(:disabled) {
          opacity: 0.9;
        }
      }
    }
  }
}
