# Dependency directories
node_modules
dist

# Optional macOS system files
.DS_Store

# Optional Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Optional Visual Studio Code directories
.vscode

# Optional Angular files
.angularcache

# Environment variables
.env
